<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js"
        integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
</head>

<div class="container">
    <div class="card">
        <h1 class="title">Fridge IT</h1>
        <p class="subtitle">Vui, khỏe, thông minh.</p>
        <button class="btn">from trunghidro ft. nguyentb with love hihi &#60;3 </button>
    </div>
    <div class="blob"></div>
</div>